In [1]:
from lxml import etree
import xml.etree.ElementTree as ElementTree
import pandas as pd

In [2]:
from urllib.request import urlopen
from urllib.parse import urlencode,unquote,quote_plus
import urllib

* 업체별 화학물질 배출량 이동량 정보

In [13]:
request = urllib.request.Request('http://apis.data.go.kr/1520635/OceanMensurationService/getOceanMesurationListrisa?serviceKey=G%2FQ8yXEc3%2Bry%2B56fhsGr1CfV2X033ZCCI0IR7uQx%2BPc12KBz04Q7EGIxr5MMJW0aTpc1oT3%2F%2BGa76rFSD0c5tw%3D%3D&GRU_NAM=001&SDATE=20140909&EDATE=20200109&numOfRows=10')
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()

In [16]:
http://apis.data.go.kr/1520635/OceanMensurationService/getOceanMesurationListrisa?serviceKey=ATCudNGr0oTHALM9VkklP3sf6tY0eSWTKRxkl%2FQ4saHwtBWRx734FvouZQucjV%2FzbQd5MFwOpOzju3NhGtAVnQ%3D%3D&GRU_NAM=001&SDATE=20140909&EDATE=20141010

http://apis.data.go.kr/1520635/OceanMensurationService/getOceanMesurationListrisa?serviceKey=G%2FQ8yXEc3%2Bry%2B56fhsGr1CfV2X033ZCCI0IR7uQx%2BPc12KBz04Q7EGIxr5MMJW0aTpc1oT3%2F%2BGa76rFSD0c5tw%3D%3D&GRU_NAM=001&SDATE=20140909&EDATE=20150909&numOfRows=10

In [37]:
a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []
i = []
j = []
k = []

In [38]:
tree = etree.fromstring(response_body)

In [39]:
# 태그로부터 원하는 텍스트 추출
for media in tree.getiterator('item'):
    a.append(media.findtext('air'))
    b.append(media.findtext('BSum'))
    c.append(media.findtext('companyId'))
    d.append(media.findtext('companyName')) 
    e.append(media.findtext('jaga'))
    f.append(media.findtext('pyegi'))
    g.append(media.findtext('pyesoo'))   
    h.append(media.findtext('soil'))
    i.append(media.findtext('upjongName'))
    j.append(media.findtext('water'))
    k.append(media.findtext('ISum'))

In [42]:
len(i)

3732

In [43]:
df1 = pd.DataFrame(a,columns=['대기배출량'])
df2 = pd.DataFrame(b,columns=['배출량'])
df3 = pd.DataFrame(c,columns=['업체아이디'])
df4 = pd.DataFrame(d,columns=['업체명'])
df5 = pd.DataFrame(e,columns=['자가매립량'])
df6 = pd.DataFrame(f,columns=['폐기물이동량'])
df7 = pd.DataFrame(g,columns=['폐수이동량'])
df8 = pd.DataFrame(h,columns=['토양배출량'])
df9 = pd.DataFrame(i,columns=['업종명'])
df10 = pd.DataFrame(j,columns=['수계배출량'])
df11 = pd.DataFrame(k,columns=['이동량'])

In [52]:
df = pd.concat([df3,df4,df1,df2,df5,df6,df7,df8,df9,df10,df11],axis=1)

In [53]:
df.shape

(3732, 11)

In [54]:
df.drop_duplicates().shape

(3732, 11)

In [56]:
df.to_excel(r'C:\Users\Bigdata_Team_1\Desktop\SA\화학\업체별 화학물질 배출량.xlsx')

* 물질별 화학물질 배출량 이동량 정보

In [1]:
a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []
i = []
j = []
k = []
l = []

In [5]:
request = urllib.request.Request('http://icis.me.go.kr/openapi/service/prtr/getPrtrMttrList?pageNo='+
                                     str(1)+'&numOfRows=13712&accessKey=dGpkZ3VyMjY1QG5hdmVyLmNvbTM1Njk=&searchYear=2016')
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
    
tree = etree.fromstring(response_body)
    
for media in tree.getiterator('item'):
    a.append(media.findtext('air'))
    b.append(media.findtext('BSum'))
    c.append(media.findtext('casNo'))
    d.append(media.findtext('companyId')) 
    e.append(media.findtext('companyName'))
    f.append(media.findtext('ISum'))    
    g.append(media.findtext('jaga'))    
    h.append(media.findtext('mttrName'))    
    i.append(media.findtext('pyegi'))    
    j.append(media.findtext('pyesoo'))    
    k.append(media.findtext('soil'))    
    l.append(media.findtext('water'))

In [6]:
len(a)

13712

In [7]:
# 데이터프레임 형식으로 만들기
df1 = pd.DataFrame(a,columns=['대기배출량'])
df2 = pd.DataFrame(b,columns=['배출량'])
df3 = pd.DataFrame(c,columns=['caseNo'])
df4 = pd.DataFrame(d,columns=['업체아이디'])
df5 = pd.DataFrame(e,columns=['업체명'])
df6 = pd.DataFrame(f,columns=['이동량'])
df7 = pd.DataFrame(g,columns=['자가매립량'])
df8 = pd.DataFrame(h,columns=['물질명'])
df9 = pd.DataFrame(i,columns=['폐기물이동량'])
df10 = pd.DataFrame(j,columns=['폐수이동량'])
df11 = pd.DataFrame(k,columns=['토양배출량'])
df12 = pd.DataFrame(l,columns=['수계배출량'])

df = pd.concat([df4,df5,df1,df2,df3,df6,df7,df8,df9,df10,df11,df12],axis=1)

In [8]:
df.head()

,업체아이디,업체명,대기배출량,배출량,caseNo,이동량,자가매립량,물질명,폐기물이동량,폐수이동량,토양배출량,수계배출량
0,1250145083732156575,(유)랍 코리아,0,0,NA-(주10),"5,726",0,알루미늄 및 그 화합물,"5,726",0,0,0
1,1250145083732156575,(유)랍 코리아,0,0,NA-(주15),0,0,구리 및 그 화합물,0,0,0,0
2,1250145083732156575,(유)랍 코리아,0,0,NA-(주20),0,0,아연 및 그 화합물,0,0,0,0
3,1184,(유)보금,"19,362","19,362",000108-88-3,"8,698",0,톨루엔,"8,698",0,0,0
4,1184,(유)보금,"11,585","11,585",001330-20-7,"2,045",0,"자일렌(o-,m-,p- 이성질체 혼합물)","2,045",0,0,0

In [10]:
df.to_excel('C:/Users/Bigdata_Team_1/Desktop/화학물질배출량이동량/물질.xlsx')

* 웹크롤링으로 주소 크롤링한 후 업체정보와 합친 데이터 불러오기

In [ ]:
name = pd.read_excel('C:/Users/Bigdata_Team_1/Desktop/업체별 화학물질 배출량.xlsx')

In [ ]:
name2 = name[['업체아이디','업체명','주소','업종명']]

In [ ]:
df2 = pd.read_excel('C:/Users/Bigdata_Team_1/Desktop/물질.xlsx')

In [ ]:
total = pd.merge(name2,df2,on='업체아이디')

In [ ]:
total.to_excel('C:/Users/a0105/Desktop/최종결과물.xlsx')